<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Listado de Clientes</h4>
        <p class="card-description">
          <button class="btn btn-rounded btn-primary" type="button" [routerLink] = "['/clientes/form']">Crear Cliente</button>
        </p>

        <!-- Validacion de la tabla -->
        <div *ngIf="clientes?.length == 0" class="alert alert-info">
          No hay registro en la base de datos!
        </div>
        <table class="table table-striped" *ngIf="clientes?.length>0">
          <thead>
            <tr>
              <th>id</th>
              <th>nombre</th>
              <th>apellido</th>
              <th>email</th>
              <th>fecha</th>
              <th>editar</th>
              <th>eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cliente of clientes">
              <td>{{ cliente.id }}</td>
              <td>{{ cliente.nombre }}</td>
              <td>{{ cliente.apellido  | uppercase}}</td>
              <td>{{ cliente.email }}</td>
              <td>{{ cliente.createAt | date: 'EEEE dd, MMMM yyyy' }}</td>
              <td>
                <button type="button" class="btn btn-primary" name="editar" [routerLink]="['/clientes/form', cliente.id]" >Editar</button>
              </td>
              <td>
                <button type="button" class="btn btn-warning" name="eliminar" (click)='delete(cliente)'>Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>