<body>
    <div class="container login-container">
        <div class="row">
            <div class="col-md-6 ads">
                <h1><span id="fl">Company</span><span id="sl">Name</span></h1>
            </div>
            <div class="col-md-6 login-form">
                <div class="profile-img">
                    <img src="assets/images/logo/login.png" alt="profile_img" height="120px" width="120px;">
                </div>
                <p></p>
                <form>
                    <div class="form-group">
                        <label for="">NOMBRE DEL USUARIO:</label>
                        <input type="text" #newHero class="form-control" name="nombre" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="">CONTRASEÑA:</label>
                        <input type="text" class="form-control" name="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <button (click)="loginUser(newHero.value)" type="button" class="btn btn-primary btn-lg btn-block">Iniciar Sesión</button>
                    </div>
                    <div class="form-group forget-password">
                        <a href="#">¿Olvidaste tu contraseña?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>