<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Información del alumno</h4>
          <p class="card-description">

          </p>
          <form class="forms-sample">
            <div class="form-group">
              <label for="exampleInputName1">Nombre</label>
              <input type="text" class="form-control" id="exampleInputName1" placeholder="Nombre">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail3">Apellidos</label>
              <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Apellidos">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword4">Edad</label>
              <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Edad">
            </div>
            <div class="form-group">
              <label for="exampleInputCity1">Dirección</label>
              <input type="text" class="form-control" id="exampleInputCity1" placeholder="Dirección">
            </div>
            <div class="form-group">
              <label for="exampleInputCity1">Apoderado</label>
              <input class="form-control" id="exampleTextarea1" placeholder="Apoderado">
            </div>
            <div class="form-group">
                <label for="exampleInputCity1">Teléfono</label>
                <input type="text" class="form-control" id="exampleTextarea1"  placeholder="Teléfono">
              </div>
            <button type="submit" class="btn btn-success mr-2">Guardar</button>
            <button class="btn btn-light">Cancel</button>
          </form>
        </div>
      </div>
    </div>
</div>