<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link d-flex">
        <div class="profile-image">
          <img src="assets/images/faces/face1.jpg" alt="image"/>
          <span class="online-status online"></span> <!--change class online to offline or busy as needed-->
        </div>
        <div class="profile-name">
          <p class="name">
            Randhal Quispe
          </p>
          <p class="designation">
            Senior Architect
          </p>
        </div>
      </div>
    </li>
    <li class="nav-item" >
      <a class="nav-link" routerLink="/clientes">
        <i class="icon-home menu-icon"></i>
        <span class="menu-title">Mi resumen</span>
      </a>
    </li>
    <li class="nav-item" >
      <a class="nav-link" routerLink="/clientes">
        <i class="icon-notebook menu-icon"></i>
        <span class="menu-title">Actividades</span>
      </a>
    </li>
    <li class="nav-item" >
      <a class="nav-link" routerLink="/clientes">
        <i class="icon-people menu-icon"></i>
        <span class="menu-title">Clientes</span>
      </a>
    </li>
    <li class="nav-item" >
      <a class="nav-link" routerLink="/directivas">
        <i class="icon-directions menu-icon"></i>
        <span class="menu-title">Directivas</span>
      </a>
    </li>
  </ul>
</nav>
