<div class="row">
    <div class="col grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Información del alumno</h4>
                <p class="card-description">

                </p>
                <form class="forms-sample">
                    <div class="form-group">
                        <label for="exampleInputEmail3">Nombre</label>
                        <div class="input-group">
                            <div class="input-group-prepend bg-google">
                                <span class="input-group-text bg-transparent"><i class="mdi mdi-account"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Apellidos</label>
                        <div class="input-group">
                            <div class="input-group-prepend bg-info">
                                <span class="input-group-text bg-transparent"><i class="mdi mdi-account"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Apellidos" aria-label="Apellidos">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Edad</label>
                        <div class="input-group">
                            <div class="input-group-prepend bg-info">
                                <span class="input-group-text bg-transparent"><i class="mdi mdi-numeric"></i></span>
                            </div>
                            <input type="number" class="form-control" placeholder="Edad" aria-label="Edad">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Dirección</label>
                        <div class="input-group">
                            <div class="input-group-prepend bg-info">
                                <span class="input-group-text bg-transparent"><i class="mdi mdi-home"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Dirección" aria-label="Dirección">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Apoderado</label>
                        <div class="input-group">
                            <div class="input-group-prepend bg-info">
                                <span class="input-group-text bg-transparent"><i class="mdi mdi-account"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Apoderado" aria-label="Apoderado">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Teléfono</label>
                        <div class="input-group">
                            <div class="input-group-prepend bg-info">
                                <span class="input-group-text bg-transparent"><i class="mdi mdi-phone"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Teléfono" aria-label="Teléfono">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success mr-2">Guardar</button>
                    <button class="btn btn-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>