<div class="row">
    <div class="col grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Alumno: {{datosUsuario.apellidos}}, {{datosUsuario.nombres}} </h4>
                <p class="card-description">

                </p>
                <form class="forms-sample">
                    <div class="form-group">
                        <label for="exampleInputEmail3">Nombre</label>
                        <div class="input-group">
                            <div class="input-group-prepend bg-google">
                                <span class="input-group-text bg-transparent"><i class="mdi mdi-account"></i></span>
                            </div>
                            <input type="text" class="form-control" value={{datosUsuario.nombres}} placeholder="Nombre" aria-label="Nombre">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Apellidos</label>
                        <div class="input-group">
                            <div class="input-group-prepend bg-info">
                                <span class="input-group-text bg-transparent"><i class="mdi mdi-account"></i></span>
                            </div>
                            <input type="text" class="form-control" value={{datosUsuario.apellidos}} placeholder="Apellidos">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Fecha Nacimiento</label>
                        <div class="input-group">
                            <div class="input-group-prepend bg-info">
                                <span class="input-group-text bg-transparent"><i class="mdi mdi-cake-variant"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Fecha Nacimiento">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Dirección</label>
                        <div class="input-group">
                            <div class="input-group-prepend bg-info">
                                <span class="input-group-text bg-transparent"><i class="mdi mdi-home"></i></span>
                            </div>
                            <input type="text" class="form-control" value={{datosUsuario.direccion}} placeholder="Dirección" aria-label="Dirección">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Sexo</label>
                        <div class="input-group">
                            <div class="input-group-prepend bg-info">
                                <span class="input-group-text bg-transparent"><i class="mdi mdi-gender-male"></i></span>
                            </div>
                            <input type="text" class="form-control" value={{sexo.nombre}} placeholder="Apoderado" aria-label="Apoderado">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Nacionalidad</label>
                        <div class="input-group">
                            <div class="input-group-prepend bg-info">
                                <span class="input-group-text bg-transparent"><i class="mdi mdi-flag-variant"></i></span>
                            </div>
                            <input type="text" class="form-control" value={{sexo.nombre}} placeholder="Apoderado" aria-label="Apoderado">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Teléfonos</label>
                        <div class="input-group ">
                            <div class="input-group-prepend bg-info">
                                <span class="input-group-text bg-transparent"><i class="mdi mdi-deskphone"></i></span>
                            </div>
                            <input type="text" class="form-control" value={{datosUsuario.telefonoCasa}} placeholder="Teléfono" aria-label="Teléfono">
                            <div class="input-group-prepend bg-info">
                                <span class="input-group-text bg-transparent"><i class="mdi mdi-cellphone"></i></span>
                            </div>
                            <input type="text" class="form-control" value={{datosUsuario.telefonoCelular}} placeholder="Teléfono" aria-label="Teléfono">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success mr-2">Guardar</button>
                    <button class="btn btn-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>