<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Información del alumno</h4>
                <form class="form-inline">
                        <div class="form-group col-lg-6"> 
                            <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Fecha Inicio</label>   
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" (click)="d.toggle()" type="button">
                                        <i class="mdi mdi-calendar"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group col-lg-6">
                            <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Fecha Fin</label>   
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" (click)="d.toggle()" type="button">
                                        <i class="mdi mdi-calendar"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                </form>
            </div>

            <div class="col-md-12 grid-margin">
                <div class="card"> 
                    <div class="card-body">
                        <div class="card card-inverse-success mb-3">
                            <div class="card-body">
                                <h2 class="card-title text-success mb-2">MEMBERS OF THE FAMILY</h2>
                                <p class="mb-2">
                                Fecha de aperturas 12/01/19 8:30 pm 
                                </p>
                                <button class="btn btn-secondary float-xl-right">Ver contenido</button>
                            </div>  
                        </div>

                        <div class="card text-white bg-success mb-3">
                            <div class="card-body">
                                <h2 class="card-title text-white mb-2">MEMBERS OF THE FAMILY</h2>
                                <p class="card-text">
                                    Fecha de aperturas 12/01/19 8:30 pm 
                                </p>
                                <button class="btn btn-secondary float-xl-right">Ver contenido</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</div>